spring:
  jpa:
    primary:
      # database: postgresql
#      database: mysql
      generate-ddl: true
      open-in-view: true
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          use-sql-comments: true
      # database-platform: org.hibernate.dialect.PostgreSQL9Dialect
      database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
