<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <conversionRule conversionWord="w2_color"
                    class="com.wsf.infrastructure.logback.W2LogbackColor"/>

<!--    <appender name="colorAppender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
<!--            <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--                <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="DEFAULT_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d %green([%thread]) %w2_color(%level) %boldCyan(%logger{50}) - %w2_color(%msg%n)</pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="DEFAULT_STDOUT"/>
    </logger>

    <logger name="com.wsf" level="TRACE" additivity="false">
        <appender-ref ref="DEFAULT_STDOUT"/>
    </logger>
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="DEFAULT_STDOUT"/>
    </root>
</configuration>
